
body {
    padding: 0px;
    margin: 0px;
    font-family: Verdana;
    background-color: #eee;
    color: #0e0e10
}
.header{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 60px;
    background-color: #036b52;
    color: #eee;
    border-bottom: 10px solid #2fc18c;
    
}
.section-contanier {
    padding-bottom: 10px;
}
.section-left {
    float: left;
    width: 45%;
    margin-left: 30px;
    padding-bottom: 50px;
}

.section-right {
    float: right;
    width: 45%;
    margin-right: 30px;
    padding-bottom: 50px;
   
}

.footer {
    margin-top: 40%;
    text-align: center; 
    padding: 50px   
}

#darkmode {
   float: right;
   margin-top: 10px;
   margin-right: 20px;
   padding: 10px 30px;
   font-size: 16px;
   background-color: #2fc18c;
   color: #eee;
   border: none;
   font-family: Verdana;    
   font-weight: bold;
}

.darkModeActive {
    background-color:#0e0e10;
    color: #eee;
    line-height: 1.6;
    font-family: monospace;
}

.darkModeDisable {
    background-color: #eee;
    color: #0e0e10
}