body {
  background-color: rgb(24, 24, 24);
  color: white;
}

select {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.form-contanier {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  width: 800px;
  border: 1px solid white;
}
.form-contanier h1 {
  text-align: center;
}
.form-contanier input {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}

.form-contanier textarea {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 4px;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.tipoLabel {
  display: flex;
  flex-direction: column;
}

.result{
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.result h2 {
  text-align: center;
}
.result-container{
  display: flex;
  justify-content: space-around;
}

button {
  border: none;
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: auto;
  width: 300px;
}

.buttonResult {
  margin: auto;
}