h1 {
    font-size: 65;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}
ul {
    background-color: yellowgreen;
    line-height: 40px;
}
.style-text {
    background-color: blueviolet;
}
p {
    font-weight: 3em;
    font-style: italic;
}
body {
    font-size: 16px;
}
#amarelo {
    background-color: yellow;
}
#vermelho {
    background-color: red;
}
#marrom {
    background-color: brown;
}